	
<div class="feed">
	<h1>10 Most Recent Posts</h1>
	<hr>
	<% @posts.each do |post|%>
		<h2>
			<%= post.post_title%>
		</h2>
		<p>
			"<%= post.post_content%>"
		</p>
		<h4>
			<% x = post.userid%>
			- <%= User.find(x).username%>
		</h4>
		<hr>
	<% end %>
</div>