<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
</head>

<header>
	<nav>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/feed">Blog Feed</a>
			</li>
			<li>
				<a href="/post">Make a Post</a>
			</li>
			<li>
				<a href="/profiles">Blog Community</a>
			</li>
			<li>
				<a href="/account">My Account</a>
			</li>
			<li>
				<a href="/sign_in">Sign Up</a>
			</li>
			<li>
				<a href="/sign-out">Sign Out</a>
			</li>
		</ul>
	</nav>

</header>

<div class="content">

	<div class="notice">
		<%=flash[:notice] if flash[:notice] %>
	</div>
	<div class="alert">
		<%=flash[:alert] if flash[:alert] %>
	</div>

	<%= yield%>

</div>

<footer>
	<div id="foot">
		<ul class="social">
			<li>
				<a href="http://facebook.com">
					<i class="fa fa-facebook-official"></i>
				</a>
			</li>
			<li>
				<a href="http://twitter.com">
					<i class="fa fa-twitter-square"></i>
				</a>
			</li>
			<li>
				<a href="http://instagram.com">
					<i class="fa fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="http://linkedin.com">
					<i class="fa fa-linkedin-square"></i>
				</a>
			</li>
			<li>
				<a href="http://github.com">
					<i class="fa fa-github-square"></i>
				</a>
			</li>
		</ul>
	</div>
</footer>