<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<header>
	<nav>
		<ul>
			<li>
				<a href="/feed">Blog Feed</a>
			</li>
			<li>
				<a href="/post">Make a Post</a>
			</li>
			<li>
				<a href="/profiles">Blog Community</a>
			</li>
			<li>
				<a href="/follow">My Bloggers</a>
			</li>
			<li>
				<a href="/account">My Account</a>
			</li>
			<li>
				<a href="/">Sign Up</a>
			</li>
		</ul>
	</nav>

</header>

<%=flash[:notice] if flash[:notice] %>
<%=flash[:alert] if flash[:alert] %>

<%= yield%>

<footer>
	<div id="foot">
		<ul class="social">
			<li>
				<a href="http://facebook.com">
					<i class="fa fa-facebook-official"></i>
				</a>
			</li>
			<li>
				<a href="http://twitter.com">
					<i class="fa fa-twitter-square"></i>
				</a>
			</li>
			<li>
				<a href="http://instagram.com">
					<i class="fa fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="http://linkedin.com">
					<i class="fa fa-linkedin-square"></i>
				</a>
			</li>
			<li>
				<a href="http://github.com">
					<i class="fa fa-github-square"></i>
				</a>
			</li>
			<li>
				<a href="/sign-out">
					Sign Out
				</a>
			</li>
		</ul>
	</div>
</footer>