<h1>Create a Post</h1>

<form method="POST" action="/feed">

	<label for="title">Title</label>
	<input type="text" name="post_title">
	<br>
	<label for="content">Write your post here</label>
	<textarea type="text" name="post_content"></textarea>
	<br>
	<input type="submit" class="submit">

</form>