

<form method="POST" action="/feed">
	<h1>Create a Post</h1>
	<label for="title">Title</label><br>
	<input type="text" name="post_title">
	<br>
	<label for="content">Write your post here</label><br>
	<textarea type="text" name="post_content"></textarea>
	<br>
	<input type="submit" class="submit">

</form>