<form method="POST" action="/signup">
	<h1>Sign Up and start blogging now!</h1>
	<label for="email">Enter your email address</label><br>
	<input type="text" name="email"><br>
	<label for="username">Create a username for your account</label><br>
	<input type="text" name="username">
	<br>
	<label for="password">Create a password</label><br>
	<input type="password" name="password">
	<br>
	<input type="submit">
</form>

<form method="POST" action="/sign-in">
	<h1>Already have an Account?  Sign in here: </h1>

	<label for="username">Username: </label><br>
	<input type="text" name="username">
	<br>
	<label for="password">Password: </label><br>
	<input type="password" name="password">
	<br>
	<input type="submit">
</form>

