<head>
	<link rel="stylesheet" type="text/css" href="../style.css">
</head>

<div class="info">
	<h1>User Info</h1>
	<hr>
	<h2>
		<%= @user.username%> 
	</h2>
	<h3>	
		<%= @user.email%> <br>
	</h3>
</div>